@import '../../assets/styles/variables.scss';
@import '../../assets/styles/animations.scss';

.main-text {
  color: $color-yellow;
  font-size: 2.9rem;
}

.step-1 {
  animation: zoom 2s ease-in-out forwards;
}

.step-3 {
  animation: slideIn 2s linear forwards;
}

.step-5 {
  animation: zoomInText 1.6s linear forwards;
}
