@import '../../assets/styles/variables.scss';

.notification-wrapper {
  position: fixed;
  top: -200px;
  left: 50%;
  transform: translateX(-50%);
  color: $color-black;
  font-size: 0.45rem;
  transition: 0.4s;
  padding: 22px 15px;
  text-transform: none;
  border-radius: 5px;
  background-color: $color-yellow;

  &.success {
    .notification-content {
      display: flex;
      justify-content: center;
      align-items: center;

      .triangle {
        display: block;
      }
    }
  }

  &.active {
    top: 150px;
  }

  .triangle {
    display: none;
    margin-left: 5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 16px 9.5px 0 9.5px;
    border-color: #1d1d1d transparent transparent transparent;
  }
}
