@import './variables.scss';

@media screen and (min-width: 1025px) {
  .page-404-wrapper .link-not-found:hover {
    transform: scale(1.2);
    color: $color-yellow;
  }

  .nav-link:hover {
    color: $color-yellow;
  }

  .navigation-title:hover {
    color: $color-yellow;
  }

  .addition-form .button:hover {
    color: $color-yellow;
  }

  .wisdom-form-wrapper .close-form:hover {
    &:before {
      background-color: $color-yellow;
      transform: rotate(135deg);
    }
    &:after {
      background-color: $color-yellow;
      transform: rotate(-135deg);
    }
  }
}
