@media screen and (max-width: 1366px) {
  html {
    font-size: 26px;
  }

  .nav-link:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 22px;
  }

  .navigation-wrapper {
    padding: 25px 40px 70px 40px;
  }

  .main-text {
    font-size: 2.1rem;
  }

  .nav-link:not(:last-child) {
    margin-right: 15px;
  }

  .one-wisdom-wrapper {
    max-width: 85%;
  }

  .wisdom-row.single {
    font-size: 1.9rem;
  }

  .wisdom-row.single.small {
    font-size: 1.2rem;
  }

  .wisdom-row.single {
    max-width: 80%;
  }
}

@media screen and (max-width: 767px) {
  .main-text {
    font-size: 1rem;
  }
  .wisdom-content {
    font-size: 0.6rem;
  }

  .navigation-wrapper {
    padding: 0;
    animation: navSlide 0.6s linear;
  }

  .navigation-content {
    flex-wrap: wrap;
  }

  .navigation-overlay {
    display: none;
  }

  .navigation-title {
    order: 2;
    margin: 0 auto;
  }

  .navigation-controls {
    order: 1;
    justify-content: center;
  }

  .one-wisdom-wrapper {
    max-width: 90%;
  }
}

@media screen and (max-width: 500px) {
  .wisdom-content {
    font-size: 0.5rem;
  }

  .wisdom-row.single {
    font-size: 1.4rem;
  }

  .wisdom-row.single.small {
    font-size: 0.8rem;
  }
}

@keyframes navSlide {
  from {
    transform: translateY(-150%);
  }
  to {
    transform: translateY(0);
  }
}
